# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependencies
bower_components/

# Coverage
coverage/
.nyc_output/

# Environment variables
.env

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# REST Client
restclient

# SQL scripts
*.sql
